<footer class="bg-dark text-center">
  <div class="container p-2">
    <section class="mb-1 d-flex justify-content-center">
      <a style="text-decoration: none" href="https://www.instagram.com/nacho_ignacio3/">
        <img src="/public/assets/instagram.svg" class="m-3">
      </a>
      <a style="text-decoration: none" href="https://github.com/Nacho35">
        <img src="/public/assets/github.svg" class="m-3">
      </a>
      <a style="text-decoration: none" href="https://www.linkedin.com/in/ignacio-morales35/">
        <img src="/public/assets/linkedin.svg" class="m-3">
      </a>
      <a style="text-decoration: none" href="https://portfolio-ignacio-morales.netlify.app/">
        <img src="/public/assets/globe-americas.svg" class="m-3">
      </a>
    </section>
  </div>
  <h6 class="text-white text-center mb-3 text-uppercase">Leaf DB por Ignacio Morales 2023</h6>
  <div class="text-center text-white p-3 text-uppercase" style="background-color: rgba(0, 0, 0, 0.2)">
    Copyright © 2023 Ignacio Morales
  </div>
</footer>