<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("./partials/header.ejs")%>
		<title>Gold Data Base</title>
	</head>
	<body>
		<%- include ('./partials/navigation.ejs')%>
		<div><%- include ('./partials/footer.ejs')%></div>
	</body>
</html>
