<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("./partials/header.ejs")%>
		<title>Gold Data Base</title>
	</head>
	<body class="bg-warning">
		<%- include ('./partials/navigation.ejs')%>
		<footer><%- include ('./partials/footer.ejs')%></footer>
	</body>
</html>
