<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./partials/header.ejs")%>
    <title>Inicio</title>
</head>

<body class="background d-flex align-items-center min-vh-100">
  <div class="container card card-group bg-dark p-4 card-width">
    <div class="container ">
      <div class="container">
        <h1 class="text-center text-success pb-3 fw-semibold "><img class="home-logo"
            src="/public/assets/leaf logo 1.svg" alt="logo">
          Bienvenido a
          Leaf DB
        </h1>
      </div>
      <div class="justify-content-center d-flex">
        <div class="w-auto">
          <p class="text-white fs-5 fw-semibold text-home">Bienvenido a nuestra aplicación web de gestión
            de
            productos. Te ofrecemos una potente base de datos conectada a SQL que
            te permite gestionar hasta 1000 productos de manera eficiente y segura. Ya sea que estés administrando un
            pequeño
            negocio o una empresa en crecimiento, nuestra plataforma te proporciona todas las herramientas necesarias
            para mantener
            un inventario organizado y accesible en todo momento. Explora nuestras funciones y descubre cómo simplificar
            la gestión
            de tus productos.</p>
        </div>
      </div>
      <div class="d-flex justify-content-center mt-3">
        <a class="btn btn-success" href="/agregar">Continuar...</a>
      </div>
    </div>
  </div>
</body>

</html>