<!DOCTYPE html>
<html lang="en">

<head>
	<%- include("./partials/header.ejs")%>
</head>

<body>
	<form class="container">
		<div class="modal" id="editModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Editar Producto</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="mb-3 p-3">
						<div class="mb-3">
							<input class="form-control" name="nombre" type="text" id="nombre" placeholder="Nombre" />
						</div>
						<div class="mb-3">
							<input class="form-control" name="precio" step="0.01" type="number" id="precio" placeholder="Precio" />
						</div>
						<div class="mb-3">
							<input class=" form-control" name="stock" type="number" id="stock" placeholder="Stock" />
						</div>
						<div class="mb-3">
							<textarea class="form-control" rows="4" name="descripcion" id="descripcion"
								placeholder="Descripción del Producto"></textarea>
						</div>
						<div class="mb-3">
							<input class="form-control" type="url" id="imagen" name="imagen" placeholder="Imagen" />
						</div>
					</div>
					<div class="mb-3 d-flex justify-content-center">
						<div class="me-3">
							<button type="submit" id="aceptar" class="btn btn-success">Aceptar</button>
						</div>
						<div class="me-3">
							<button type="button" class="btn btn-danger" data-bs-dismiss="modal">
								Cancelar
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	<script src="/public/js/bootstrap.bundle.min.js"></script>
</body>

</html>