<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./partials/header.ejs")%>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10 offset-md-1 mt-3 d-flex flex-wrap justify-content-around">
        <div class="p-2 width-input">
          <input class="form-control mb-2 mr-md-2 mb-md-0" type="text" id="nombreFilter"
            placeholder="Nombre del Producto">
        </div>
        <div class="p-2 width-input">
          <input class="form-control mb-2 mr-md-2 mb-md-0" type="number" id="precioMinFilter"
            placeholder="Precio Mínimo">
        </div>
        <div class="p-2 width-input">
          <input class="form-control mb-2 mr-md-2 mb-md-0" type="number" id="precioMaxFilter"
            placeholder="Precio Máximo">
        </div>
        <div class="p-2 width-input">
          <select class="form-control mb-2 mr-md-2 mb-md-0" id="sortOrder">
            <option value="">Ordenar por</option>
            <option value="asc">Ascendente</option>
            <option value="desc">Descendente</option>
          </select>
        </div>
        <div class="p-2 width-input">
          <input class="form-control mb-2 mr-md-2 mb-md-0" type="number" id="limit" placeholder="Límite de Productos">
        </div>
      </div>
      <div class="col-md-10 offset-md-1 d-flex justify-content-center mt-2 mb-3">
        <button id="searchButton" class="btn btn-dark w-50">Buscar</button>
      </div>
    </div>
  </div>
  <script>
    document.getElementById('searchButton').onclick = function () {

      let nombreFilter = document.getElementById('nombreFilter').value;
      let precioMinFilter = document.getElementById('precioMinFilter').value;
      let precioMaxFilter = document.getElementById('precioMaxFilter').value;
      let sortOrder = document.getElementById('sortOrder').value;
      let limit = document.getElementById('limit').value;


      let query = "?nombre=" + nombreFilter +
        "&precioMin=" + encodeURIComponent(precioMinFilter) +
        "&precioMax=" + encodeURIComponent(precioMaxFilter) +
        "&order=" + sortOrder +
        "&limit=" + encodeURIComponent(limit);


      window.location.href = '/productos' + query;
    };

  </script>
  <script src="/public/js/bootstrap.bundle.min.js"></script>
</body>

</html>